<aside class="side-bar">
    <div class="logo-wrapper">
        <!-- <img src="favicon.ico" class="logo" alt=""> -->
    </div>

    <nav class="link-icons">
        <a class="nav-item" routerLink="/patient-register">
            <img class="add_patient" src="assets/iconos/add-patient-icon.png" alt="">
            <span class="label">Agregar</span>
        </a>

        <a class="nav-item" routerLink="/dashboard">
            <img class="view_all" src="assets/iconos/view-all-icon.png" alt="">
            <span class="label">Pacientes</span>
        </a>

        <a class="nav-item" routerLink="/reviews">
            <img class="reviews" src="assets/iconos/reviews-icon.png" alt="">
            <span class="label">Valoraciones</span>
        </a>
    </nav>

    <div class="user-section">
        <a class="nav-item" routerLink="/user-profile">
            <img class="user_icon" src="assets/iconos/user-icon.png" alt="">
            <span class="label">Perfil</span>
        </a>
    </div>
</aside>