<main class="hero-wrapper">
    <div class="hero-text">
        <h1 class="hero-title">Mejor control, mejor <span class="highlight">médico</span></h1>
        <p class="hero-subtitle">Organiza tus expedientes bariátricos en unos simples pasos.</p>
        <a (click)="navigateToRegister()" class="hero-cta-button">Comienza Ahora</a>
    </div>

    <div class="hero-image">
        <img src="assets/otros/hero-image.png" alt="Imagen de la aplicación Baria+">
    </div>

    <img src="assets/otros/leaf-decoration2.png" class="deco" alt="decoracion de hojas bonitas">
</main>